/* Write your CSS code here */

.header-container {
  display: flex;
  flex-direction: row;
  min-width: 80vw;
  justify-content: space-between;
}

.links-container {
  display: flex;
  list-style-type: none;
  min-width: 20%;
  font-weight: 600;
  justify-content: space-around;
}

.logo-title-container {
  min-width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 35px;
}
